<h1>Log Exercise for <%= @workout_session.date %></h1>
<%= render 'form', workout_session: @workout_session, workout_entry: @workout_entry, exercises: @exercises %>
<%= link_to "Back to Workout Session", workout_session_path(@workout_session), class: "btn btn-secondary" %>